:root {
    --primary: hsl(23, 40%, 49%);
    --primary-dark: #cd885d;
}
body{    
    margin: 0;
    height: 100svh;
    width: 100svw;
    display: flex;
    flex-direction: column;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: var(--primary-dark);
}
::selection {
    color: white;
    background: var(--primary-dark);
}
.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arvo', 'sans-serif';
    flex: 1;
}
.app-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 64px 16px 64px 16px;
    text-align: center;
}
.background-image{
    height: 420px;
    width: -webkit-fill-available;
    position: absolute;
    top: -65px;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(/assets/images/background2.jpg);
    background-size: cover;
    background-position: center center; 
    z-index: -1;
}
.content{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 12px;
    padding: 45px 0px;
    align-items: center;
    justify-content: center;
}
.content a{
    background-color: var(--primary);
    color: white;
    border-radius: 84px;
    padding: 20px 60px;
    margin-top: 20px;
}
.content a:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
footer{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 16px 64px 16px;
}
.phina-bakery-logo{
    margin-bottom: 12px;
}
.primary{
    color: var(--primary);
}
.white{
    color: white;
}
.app h1{
    font-size: 20px;
    margin: 6px;
}
.app h2{
    font-size: 18px;
    font-weight: 400;
    margin: 6;
}